 
  .footer-container {
    background-color: #f1f5f9;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
  }
  
  /* .footer-logo img {
    width: 100px; /* Adjust the logo size */
  /*} */
  
  .footer-description {
    font-size: 14px;
    color: #6b7280;
    max-width: 600px;
  }
  
  .footer-nav .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
  }
  
  .footer-nav .footer-links li {
    display: inline;
  }
  
  .footer-nav .footer-links a {
    text-decoration: none;
    color: #4b5563;
    font-weight: 500;
    font-size: 16px;
  }
  
  .footer-nav .footer-links a:hover {
    color: #3b82f6;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-social .social-icon {
    font-size: 18px;
    color: #4b5563;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e5e7eb;
  }
  
  .footer-social .social-icon:hover {
    background-color: #4b5563;
    color: white;
  }
  
  /* Hover effects for social icons */
  .footer-social .facebook:hover {
    background-color: #1877f2;
  }
  
  .footer-social .instagram:hover {
    background-color: #e4405f;
  }
  
  .footer-social .twitter:hover {
    background-color: #1d9bf0;
  }
  
  .footer-social .github:hover {
    background-color: #333;
  }
  
  .footer-social .google:hover {
    background-color: #4285f4;
  }
  

  @media (max-width: 768px) {
    .footer-nav .footer-links {
      flex-direction: column;
      gap: 15px;
    }
  
    .footer-social {
      gap: 10px;
    }
  }
  